/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header position */
header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
/* body color */
body {
  background-color: #e5e5e5;
}
/* Main */
main {
  width: 30rem;
  margin: 0 auto;
  padding-top: 20px;
  height: calc(100vh - 200px);
}

button {
  color: white;
  background-color: #daa521;
  border: 0;
  padding: 7px;
}
/* Footer */
footer {
  height: 100px;
  background-color: #333333;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-p {
  width: 80%;
}
